<h1>Search Flights</h1>

<%= render 'search_form', flight: @flight %>

<br>
<br>
<br>

<% if @searched_flights and @searched_flights.any? %>
    <h2>Searched Results</h2>
    <table>
        <thead>
            <tr>
                <th>Flight</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% @searched_flights.each do |flight| %>
                <tr>
                    <td><%= flight.flight_number %></td>
                    <td><%= flight.departure_airport.name %></td>
                    <td><%= flight.arrival_airport.name %></td>
                    <td><%= flight.departure_time.strftime("%B %d, %Y at %I:%M %p") %></td>
                    <td><%= flight.arrival_time.strftime("%B %d, %Y at %I:%M %p") %></td>
                    <td><%= number_to_currency(flight.price) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>


<br>
<br>
<br>
<% if @flights.any? %>
    <h2>Available Flights</h2>
    <table>
        <thead>
            <tr>
                <th>Flight</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% @flights.each do |flight| %>
                <tr>
                    <td><%= flight.flight_number %></td>
                    <td><%= flight.departure_airport.name %></td>
                    <td><%= flight.arrival_airport.name %></td>
                    <td><%= flight.departure_time.strftime("%B %d, %Y at %I:%M %p") %></td>
                    <td><%= flight.arrival_time.strftime("%B %d, %Y at %I:%M %p") %></td>
                    <td><%= number_to_currency(flight.price) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>