<h1>Purchased Flight</h1>
<p>Flight details:</p>
<ul>
    <li>Flight number: <%= @booking.flight.number %></li>
    <li>Departure: <%= @booking.flight.departure %></li>
    <li>Destination: <%= @booking.flight.destination %></li>
    <li>Departure time: <%= @booking.flight.departure_time %></li>
    <li>Arrival time: <%= @booking.flight.arrival_time %></li>
</ul>